body {
  font-size: 16px;
  color: #fff;
  background-color: #363636;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #4d7553;
  border-radius: 0;
  border: 0;
  font-size: 30px;
  text-align: center;
}

